body {
	max-width: 800px ;
	margin: 16px auto ;
	padding: 0 16px ;
	font-family: monospace;
}

h1,h2,h3 {
 color: #EF6C01;
}

h1:before {
 content: "# ";
}

h2:before {
 content: "## ";
}

h3:before {
 content: "### ";
}

a:before {
 content: "["
}

a:after {
 content: "]"
}

a {
 text-decoration: none;
 color: #20A2FE
}

blockquote p::before {
 color: #87B04C;
}

blockquote p:before {
 content: "> "
}

blockquote {
 margin-left: 0px;
}

ul {
 padding-left: 0;
}

ul li {
 list-style: none;
}

ul li:before {
 content: "* ";
}

ul li::before {
 color: #DAA521
}

code {
 background: #8C8C8C;
}

pre code {
 background: white;
}

pre {
 margin-left: 2em;
 font:115% monospace;
}

@media (prefers-color-scheme: dark) {
	body {
		background: black ;
		color: white ;
	}

 pre code {
  background: black;
 }
}
