body {
	max-width: 800px ;
	margin: 16px auto ;
	padding: 0 16px ;
	font-family: sans-serif;
}

h1,h2,h3 {
 color: #EF6C01;
}

a {
 color: #20A2FE
}

code {
 background: #8C8C8C;
}

pre code {
 background: white;
}

pre {
 margin-left: 2em;
 font:115% monospace;
}

@media (prefers-color-scheme: dark) {
	body {
		background: black ;
		color: white ;
	}

 pre code {
  background: black;
 }
}
